<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-4">
    {{#with tarefa}}
        <h1>Editar Tarefa</h1>
        <form action="/update/{{id}}" method="post">
            <div class="form-group">
                <label for="descricao">Descrição da Tarefa</label>
                <input type="text" name="descricao" id="descricao" class="form-control" placeholder="Atualizar Tarefa" value="{{descricao}}" required>
            </div>
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </form>
    {{/with}}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
